{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Generate Key and Upload PDF</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border: 2px solid #3498db;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        .navbar {
            display: flex;
            justify-content: space between;
            align-items: center;
            background-color: #3498db;
            padding: 10px;
            border-radius: 10px 10px 0 0;
        }

        .navbar h2 {
            color: #fff;
            margin: 0;
        }

        .pdf-section {
            margin-top: 20px;
            text-align: center;
        }

        .pdf-label {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .upload-button {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .upload-button:hover {
            background-color: #2980b9;
        }

        .messages {
            background-color: #f1ffcc;
            color: #0015ff;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} 
    <div class="container">
        {% csrf_token %}
        <div class="navbar">
            <h2>Upload PDF & Generate Keys</h2>
        </div>
        
        <div class="pdf-section">
            <p id='first_label' class="pdf-label">Select a PDF file (up to 150 KB):</p>
            <input type="file" id="pdfFile" accept=".pdf" style="display: none;"/>
            <p>Selected PDF: <span id="selectedPdf"></span></p>
            <button id="uploadPdfButton" class="upload-button">Upload PDF</button>
            <input type="file" id="fileInput" style="display:none">
        </div>

        <div class="download-button" id="downloadButton" style="display: none; text-align: center;">
            <a id="downloadKeysLink" class="upload-button" download="keys_G13.txt">Download Keys</a>
        </div>
    </div>

    <script src="{% static 'node-forge/dist/forge.min.js' %}"></script>
    <script >
        var signedFile_ip, originalFile_ip, publicKey_ip;
        document.getElementById('uploadPdfButton').addEventListener('click', function() {
            const fileInput = document.getElementById('fileInput');
            fileInput.click();
        });

        document.getElementById('fileInput').addEventListener('change', function() {
            const selectedFileInput = document.getElementById('fileInput');
            const selectedPdf = selectedFileInput.files[0];
            if (selectedPdf) {
                if (selectedPdf.size > 0 && selectedPdf.size <= 153600 && selectedPdf.type === 'application/pdf') { 
                    // 150KB limit and PDF type
                    document.getElementById('selectedPdf').textContent = selectedPdf.name;
                    document.getElementById('uploadPdfButton').style.display = 'none';
                    document.getElementById('first_label').style.display = 'none';
                    document.getElementById('downloadButton').style.display = 'block';
                    handleFile({target: {files: [selectedPdf]}});
                    // generateRSAKeys();
                }else {
                    // console.log("HI");
                    if(selectedPdf.type !== 'application/pdf'){
                        // console.log("Case 1");
                        alert('Only PDF files are allowed.');
                    }
                    else if(selectedPdf.size > 153600){
                        // console.log("Case 2");
                        alert('Please select a file within the size limit!');
                    }
                }
            }
        });

        function handleFile(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const arrayBuffer = e.target.result;
                    const uint8Array = new Uint8Array(arrayBuffer);
                    // Convert the binary data directly to a base64 string
                    let binaryString = '';
                    uint8Array.forEach(function(byte) {
                        binaryString += String.fromCharCode(byte);
                    });
                    // console.log(binaryString);
                    const base64String = btoa(binaryString);
                    // console.log(document.getElementById('originalFile').value.length);
                    // document.getElementById('originalFile').value = base64String;
                    originalFile_ip = base64String;
                    generateRSAKeys();
                    // console.log(document.getElementById('originalFile').value.length);
                    // console.log(base64String);
                }

                reader.readAsArrayBuffer(file);
            }
        }
        // document.getElementById('fileInput').addEventListener('change', handleFile);

        function generateRSAKeys() {
            // Create an RSA key pair with a key size of 2048 bits
            const rsa = forge.pki.rsa.generateKeyPair({ bits: 2048 });

            // Get the public and private keys in PEM format
            const publicKeyPem = forge.pki.publicKeyToPem(rsa.publicKey);
            const privateKeyPem = forge.pki.privateKeyToPem(rsa.privateKey);
            // console.log(publicKeyPem);
            // document.getElementById('publicKey').value = btoa(publicKeyPem);
            publicKey_ip = btoa(publicKeyPem);
            // console.log(document.getElementById('publicKey').value);
            // console.log(document.getElementById('publicKey').value);

            // Create a text file with the keys
            const textFileContent = `Public Key:\n${publicKeyPem}\n\nPrivate Key:\n${privateKeyPem}`;
            
            // Create a Blob with the text content
            const blob = new Blob([textFileContent], { type: 'text/plain' });

            // Create a download link for the keys
            const downloadLink = document.getElementById('downloadKeysLink');
            downloadLink.href = window.URL.createObjectURL(blob);

            // Enable the download button
            downloadLink.style.display = 'inline';

            // Creating a signature & storing it.
            try {
                // const sign = signFile(privateKeyPem, document.getElementById('originalFile').value);
                // document.getElementById('signedFile').value = sign;
                const sign = signFile(privateKeyPem, originalFile_ip);
                signedFile_ip = sign;
                // console.log(sign);
            } catch (error) {
                console.error('Error while generating signature:', error);
                alert('Signature failure. Please try again later.');
            }
        }

        function signFile(privateKeyPem, base64FileContent) {
            // Load the user's private key
            const privateKey = forge.pki.privateKeyFromPem(privateKeyPem);

            // Decode the base64 file content to binary data
            const binaryFileContent = atob(base64FileContent);
            // console.log(base64FileContent)
            // console.log(base64FileContent.length)
            // console.log(typeof base64FileContent)
            // console.log(binaryFileContent)
            // console.log(binaryFileContent.length)
            // console.log(typeof binaryFileContent)
            // Calculate the hash of the binary file content (e.g., using SHA-256)
            var hash = forge.md.sha256.create();
            hash.update(binaryFileContent, 'raw');
            // console.log(hash.digest().toHex());
            // document.getElementById('hashed').value = btoa(hash.digest().toHex());
            // console.log(btoa(hash.digest().toHex()));


            // Sign the hash with the private key
            const signature = privateKey.sign(hash);
            // console.log(signature);
            // console.log(forge.util.encode64(signature));
            // console.log(typeof btoa(signature));
            return forge.util.encode64(signature);
        }

        document.getElementById('downloadButton').addEventListener('click', function(event){
            function sendPostRequest(url, data) {
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken') // Include the CSRF token if needed
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data =>{
                    if (response.ok) {
                        // alert(data.message);
                        // Redirect to the response url
                        var response_url = data.url;
                        window.location.href = response_url;
                    } else {
                        // Handle errors, if any
                    }
                })
                .catch(error => {
                    // Handle network or other errors
                });
            }

            // Example usage
            const url = '/user_document_verification/{{id}}';
            const data = {
                'originalFile': originalFile_ip,
                'signedFile': signedFile_ip,
                'publicKey': publicKey_ip
            };

            sendPostRequest(url, data);
            // document.getElementById('keyForm').submit();
        });

        // Function to get the CSRF token from the cookies
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
</body>
</html>